#
# Vhost template.
#

<VirtualHost {{ item.listening_ip }}:{{ item.listening_port }}>
{% if item.server_name is defined %}
  ServerName {{ item.server_name }}
{% endif %}
{% if item.server_admin is defined %}
  ServerAdmin {{ item.server_admin }}
{% endif %}
{% if item.server_alias is defined %}
  ServerAlias {{ item.server_alias }}
{% endif %}

{% if item.document_root is defined %}
  DocumentRoot {{ item.document_root }}
{% endif %}

{% for name, value in item.iteritems() %}
{% if '_' not in name %}
{% if value %}
  {{ name }} {{ value }}
{% endif %}
{% endif %}
{% endfor %}

{% if 'extra_directives' in item %}
{% for line in item['extra_directives'].rstrip().split('\n') %}
  {{ line }}
{% endfor %}
{% endif %}

{% if '_directories' in item %}
{% for _directory in item._directories %}
  <Directory {{ _directory['_root'] }}>
{% for name, value in _directory.iteritems() %}
{% if '_' not in name %}
{% if value %}
    {{ name }} {{ value }}
{% endif %}
{% endif %}
{% endfor %}
{% if 'extra_directives' in _directory %}

{% for line in _directory['extra_directives'].rstrip().split('\n') %}
    {{ line }}
{% endfor %}
{% endif %}
  </Directory>
{% endfor %}
{% endif %}
</VirtualHost>
